Header add Access-Control-Allow-Origin "*"

RewriteEngine on

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.html$ http://cognitivo.cl/ [R=301,L]

RewriteCond %{HTTP_HOST} ^cognitivo.cl [NC]
RewriteRule ^(.*)$ http://www.cognitivo.cl/$1 [L,R=301]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
# Reescribir la URL solicitada por el usuario
#   Entrada:  clientes/NOMBRE/
#   Salida: clientes.php?id=NOMBRE
#RewriteRule ^([a-z_-]+)/?$ index.php?controller=$1
RewriteRule ^([a-z_-]+)/?$ index.php?action=$1
RewriteRule ^([a-z_-]+)/([a-z_-]+)/?$ index.php?controller=$1&action=$2
RewriteRule ^([a-z_-]+)/([a-z_-]+)/([a-z_-]+)/?$ index.php?controller=$1&action=$2&post=$3